.i-icon {
	&--sm {
		width: 20px;
		height: 20px;
	}
	&--md {
		width: 24px;
		height: 24px;
	}
	&--lg {
		width: 32px;
		height: 32px;
	}
	stroke: #000;
	fill: none;
}

.garage-navigation {
	&__item--active {
		.i-icon {
			stroke: #2376f2;
		}
	}
}

.i-icon#ic_garage {
}
.i-icon#ic_home {
}
.i-icon#ic_phone {
}
.i-icon#ic_max {
}
.i-icon#ic_play {
	fill: #fff;
	stroke: #fff;
}
.i-icon#ic_profile {
}
.i-icon#ic_profilecard {
}
.i-icon#ic_receipt {
}
.i-icon#message {
	stroke: #2376f2;
}
.i-icon#pause {
}
.i-icon#pen {
}
.i-icon#plus {
	stroke: #2376f2;
}
.i-icon#send {
	stroke: #2376f2;
}
.i-icon#status {
}
.i-icon#exit-log-out-arrow {
	stroke: red;
}
.i-icon#ic_arrow {
}
.i-icon#ic_arrowback {
	stroke: #2376f2;
}
.i-icon#ic_arrows {
}
.i-icon#ic_camera {
}
.i-icon#ic_check {
	stroke: #0bbb12;
}
.i-icon#ic_copy {
	stroke: #2376f2;
}
.i-icon#ic_close {
}
.i-icon#ic_garage {
}
.i-icon#ic_plus {
	stroke: #2376f2;
}
