.i-icon {
	&--sm {
		width: 20px;
		height: 20px;
	}
	&--md {
		width: 24px;
		height: 24px;
	}
	&--lg {
		width: 32px;
		height: 32px;
	}
}
.section__back-button{
	.i-icon{
		stroke: #2376F2;
	}
}

.garage-navigation{
	&__item--active{
		.i-icon{
			stroke: #2376F2;
		}
	}
}