.i-icon {
    &--sm {
        width: 20px;
        height: 20px;
        fill: #f8f8f8;
    }
    &--md {
        width: 24px;
        height: 24px;
        fill: #fff;
    }
    &--lg {
        width: 32px;
        height: 32px;
        fill: #f8f8f8;
    }
}
