@import "./font";
@import "./colors";
@import "./components/garage-variant";
@import "./components/garage-votecard";
@import "./components/garage-input";
*,
*::after,
*::before {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "SF Pro Display";
  font-style: normal;
  margin: 0;
  padding: 0;
}
a {
  font: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.wrap{
  max-width: 641px;
  display: inline-block;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.block {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

//#region ICONS
.i-icon {
  width: 24px;
  height: 24px;
  stroke: #878787;
  fill: none;
}
.i-icon#ic_pause {
}
.i-icon#ic_payment {
}
.i-icon#ic_pen {
  stroke: $active-blue;
}
.i-icon#ic_play {
}
.i-icon#ic_pluse {
  stroke: #fff;
}
.i-icon#ic_receipt {
}
.i-icon#ic_search {
}
.i-icon#ic_send {
}
.i-icon#ic_arrownext {
}
.i-icon#ic_camera {
}
.i-icon#ic_check {
}
.i-icon#ic_clip {
}
.i-icon#ic_close {
  stroke: $active-blue;
}
.i-icon#ic_members {
}
.i-icon#ic_message {
}
.i-icon#ic_news {
}
// #endregion ICONS

//#region MAIN
.left {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  border-right: 1px solid #efefef;
  padding-top: 70px;
  width: 312px;
  &__menu {
  }
  &__logo {
    padding-left: 24px;
    margin-bottom: 64px;
  }
}
.right {
  margin-left: auto;
  width: calc(100% - 312px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #e9e9e9;
  &__title {
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__create-ad-btn {
  }

  &__create-vote-btn {
  }
  &_active{
    padding-right: 346px;
  }
}
.button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 12px;
  &__icon {
    margin-right: 7px;
    line-height: 0;
  }

  &__caption {
    white-space: nowrap;
  }
  &--active {
    background: #2376f2;
    color: #fff;
  }
  &--transparent {
    border: 1px solid #e9e9e9;
    color: #000;
  }
  &--red{
    border: 1px solid $red;
    color: $red;
  }
  &--create{
    border: 1px solid $active-blue;
    border-radius: 16px;
    transition: all .3s ease;
    &.active{
      pointer-events: auto !important;
    }
  }
}
.menu {
  &__list {
    padding: 0;
    list-style: none;
  }
  &__item {
    height: 48px;
  }
}
.item-menu {
  height: 100%;
  padding-left: 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #878787;
  &--active,
  &:hover {
    background: #e9f1fe;
  }
  &__icon {
    margin-right: 20px;
  }
  &__text {
  }
}

//#endregion MAIN

.news{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  &__title{
    margin-bottom: 16px;
  }
  &__info{
    border-radius: 16px;
    background-color: $grey-1;
    margin-bottom: 20px;
    padding: 24px;
    transition: all .3s ease;
    &:hover{
      box-shadow: 0 4px 24px 0 #364B6A12;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__text{
    color: $gray-3;
  }
  &__create-vote-btn{
    display: inline-flex;
  }
  .button{
    transition: all .3s ease;
    &__caption{
      color: $active-blue;
    }
  }
  .button:hover{
    border: 1px solid $disable-blue;
    .button__caption{
      color: $disable-blue;
      transition: all .3s ease;
    }
  }
  .button.active{
    border: 1px solid $disable-blue;
    .button__caption{
      color: $disable-blue;
      transition: all .3s ease;
    }
  }
  &__vote{
  }
}
.garage{
  &-votecard{
    text-align: center;
    &__form{
      max-width: 311px;
    }
  }
}
.create{
  max-width: 326px;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  right: -326px;
  z-index: 1;
  background-color: #fff;
  transform: translateX(100%);
  top: 0;
  padding: 20px 46px 20px 26px;
  border-left: 1px solid #EFEFEF;
  &__link{
    display: flex;
    align-items: center;
  }
  &__title{
    font-size: 20px;
  }
  &__button{
    padding: 18px;
    background-color: $grey-1;
    border-radius: 12px;
    margin-right: 20px;
  }
  &_active{
    transform: translateX(0%);
    right: 0;
  }
  &-data__info{
    margin-top: 30px;
  }
  &-data__field{
    .garage-field{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 20px;
      }
      &:nth-child(2){
        min-height: 196px;
      }
      .garage-field__label{
        top: 0;
        left: 0;
      }
      .garage-field__input{
        resize: none;
      }
    }
  }
  &-ad-btn{
    margin-bottom: 10px;
    .button{
      justify-content: center;
    }
    &:nth-child(4){
      margin-bottom: 20px;
    }
  }
}