.header {
	&_main {
		margin-bottom: 24px;
		padding-top: 12px;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.header__link {
			.section__back-button {
				margin-bottom: 0;
			}
		}
	}
}
.home {
	padding-top: 72px;
	padding-bottom: 205px;
	&.news {
		padding: 0;
		height: auto;
	}
	&.inner {
		padding-top: 0;
	}
	&__title {
		margin-bottom: 16px;
	}
	&__own {
		background-color: $grey-1;
		border-radius: 12px;
		&-button {
			position: relative;
			&::after {
				display: block;
				content: "";
				padding-top: 12px;
				border-bottom: 1px solid #00000020;
				position: absolute;
				width: 311px;
				bottom: 0;
				left: 12px;
			}
		}
		.slick-dots {
			text-align: center;
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 0;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -26px;
			padding: 0;
			li {
				background: $button;
				border: none;
				border-radius: 50%;
				height: 8px;
				width: 8px;
				margin-left: 4px;
				outline: none;
				button {
					visibility: hidden;
				}
			}
			li.slick-active {
				width: 16px;
				background: $active-blue;
				border-radius: 12px;
			}
		}
	}
	&__button-add {
		display: block;
		border: 1px solid $disable-blue;
		border-radius: 12px;
		margin-top: 40px;
		text-align: center;
		padding: 16px 0;
		.text {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $active-blue;
			svg {
				margin-right: 7px;
			}
		}
	}
	&__news {
		margin-top: 24px;
		&-title {
			margin-bottom: 8px;
		}
		&-slider {
			margin-left: 34px;
			.item {
				width: 240px;
				background-color: $grey-1;
				padding: 16px 8px 19px 12px;
				border-radius: 12px;
				margin-right: 8px;
				&__title {
					font-size: 17px;
					margin-bottom: 8px;
				}
				&__text {
					line-height: 23px;
					color: $grey-2;
				}
			}
		}
	}
	&__vote {
		margin-top: 16px;
	}
}
.own__list {
	padding: 15px 30px 16px;
	margin: 0;
	.item {
		margin-bottom: 4px;
		&:last-child {
			margin: 0;
		}
	}
}
.own {
	&-data {
		&__field {
			.wrap {
				display: flex;
				.garage-field {
					margin-right: 24px;
					&:first-child {
						&__label {
							font-size: 15px;
						}
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.garage-field {
				margin-bottom: 8px;
				&__input {
					background-color: transparent;
					margin-top: 26px;
				}
				&:nth-child(3) {
					flex-direction: column;
					margin-bottom: 64px;
					&::after {
						display: block;
						margin-top: 24px;
						content: "";
						width: 100%;
						border-bottom: 1px solid #00000020;
					}
				}
			}
			.garage-button {
				margin-top: 32px;
			}
		}
	}
}
